	/* Styling til pagination */

	#pagination {
		position: fixed;
		display: inline-block;
		right: 20px;
		top:50%;	
		
		.item {
			position: relative;
			display: block;
			width: 15px;
			height: 15px;
			background-color: rgba(255,255,255,0.4);
			margin-bottom: 20px;
			cursor: pointer;
			transition: all 500ms;
			
			&:active { background-color: rgba(255,255,255,0.8); }
						
			&:hover {
				background-color: rgba(255,255,255,1);
				
				&:after {
					color: #fff;
					position: absolute;
					content: attr(data-title);
					right: 25px;
					line-height: 15px;
					font-size: 0.8em;
				}	
			}
			
			&.active { background-color: rgba($colorCyan, 0.8); }
			
			&.visited { background-color: rgba($colorPurple, 0.6); }
		
		}
		
	
	}
	
	