/* Keyframes */
/* --------- */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0; } }
@keyframes fadeIn {
  from {
    opacity: 0; } }

@-webkit-keyframes fadeOut {
  to {
    opacity: 0; } }

@keyframes fadeOut {
  to {
    opacity: 0; } }

@-webkit-keyframes flipHorizontalIn {
  from {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1); } }

@keyframes flipHorizontalIn {
  from {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1); } }

@-webkit-keyframes flipHorizontalOut {
  to {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1); } }

@keyframes flipHorizontalOut {
  to {
    -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1); } }

/* Move in from the sides */
@-webkit-keyframes fromLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  to {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); } }
@keyframes fromLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); }
  to {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); } }

@-webkit-keyframes toLeft {
  from {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }

@keyframes toLeft {
  from {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); }
  to {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0); } }

@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  to {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); } }

@keyframes fromRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); }
  to {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); } }

@-webkit-keyframes toRight {
  from {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); } }

@keyframes toRight {
  from {
    -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0); }
  to {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0); } }

@-webkit-keyframes fromUp {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0); } }

@keyframes fromUp {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0); } }

@-webkit-keyframes toUp {
  from {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0); }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); } }

@keyframes toUp {
  from {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0); }
  to {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0); } }

@-webkit-keyframes fromDown {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0); } }

@keyframes fromDown {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0); } }

@-webkit-keyframes toDown {
  from {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0); }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); } }

@keyframes toDown {
  from {
    -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0); }
  to {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); } }

/* With Fade */
/* 100% */
@-webkit-keyframes fromFadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }
@keyframes fromFadeLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@-webkit-keyframes toFadeLeft {
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@keyframes toFadeLeft {
  to {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%); } }

@-webkit-keyframes fromFadeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes fromFadeRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@-webkit-keyframes toFadeRight {
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@keyframes toFadeRight {
  to {
    opacity: 0;
    -webkit-transform: translateX(100%);
            transform: translateX(100%); } }

@-webkit-keyframes fromFadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@keyframes fromFadeUp {
  from {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@-webkit-keyframes toFadeUp {
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@keyframes toFadeUp {
  to {
    opacity: 0;
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%); } }

@-webkit-keyframes fromFadeDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); } }

@keyframes fromFadeDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); } }

@-webkit-keyframes toFadeDown {
  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); } }

@keyframes toFadeDown {
  to {
    opacity: 0;
    -webkit-transform: translateY(100%);
            transform: translateY(100%); } }

/* 50% */
@-webkit-keyframes fromFadeLeft50 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }
@keyframes fromFadeLeft50 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@-webkit-keyframes toFadeLeft50 {
  to {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@keyframes toFadeLeft50 {
  to {
    opacity: 0;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

@-webkit-keyframes fromFadeRight50 {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); } }

@keyframes fromFadeRight50 {
  from {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); } }

@-webkit-keyframes toFadeRight50 {
  to {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); } }

@keyframes toFadeRight50 {
  to {
    opacity: 0;
    -webkit-transform: translateX(50%);
            transform: translateX(50%); } }

@-webkit-keyframes fromFadeUp50 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@keyframes fromFadeUp50 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@-webkit-keyframes toFadeUp50 {
  to {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@keyframes toFadeUp50 {
  to {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%); } }

@-webkit-keyframes fromFadeDown50 {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); } }

@keyframes fromFadeDown50 {
  from {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); } }

@-webkit-keyframes toFadeDown50 {
  to {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); } }

@keyframes toFadeDown50 {
  to {
    opacity: 0;
    -webkit-transform: translateY(50%);
            transform: translateY(50%); } }

/* 40% */
@-webkit-keyframes fromFadeLeft40 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%); } }
@keyframes fromFadeLeft40 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%); } }

@-webkit-keyframes fromFadeRight40 {
  from {
    opacity: 0;
    -webkit-transform: translateX(40%);
            transform: translateX(40%); } }

@keyframes fromFadeRight40 {
  from {
    opacity: 0;
    -webkit-transform: translateX(40%);
            transform: translateX(40%); } }

/* 25% */
@-webkit-keyframes fromFadeLeft25 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%); } }
@keyframes fromFadeLeft25 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%); } }

@-webkit-keyframes toFadeLeft25 {
  to {
    opacity: 0;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%); } }

@keyframes toFadeLeft25 {
  to {
    opacity: 0;
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%); } }

@-webkit-keyframes fromFadeRight25 {
  from {
    opacity: 0;
    -webkit-transform: translateX(25%);
            transform: translateX(25%); } }

@keyframes fromFadeRight25 {
  from {
    opacity: 0;
    -webkit-transform: translateX(25%);
            transform: translateX(25%); } }

@-webkit-keyframes toFadeRight25 {
  to {
    opacity: 0;
    -webkit-transform: translateX(25%);
            transform: translateX(25%); } }

@keyframes toFadeRight25 {
  to {
    opacity: 0;
    -webkit-transform: translateX(25%);
            transform: translateX(25%); } }

@-webkit-keyframes fromFadeUp25 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%); } }

@keyframes fromFadeUp25 {
  from {
    opacity: 0;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%); } }

@-webkit-keyframes toFadeUp25 {
  to {
    opacity: 0;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%); } }

@keyframes toFadeUp25 {
  to {
    opacity: 0;
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%); } }

@-webkit-keyframes fromFadeDown25 {
  from {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%); } }

@keyframes fromFadeDown25 {
  from {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%); } }

@-webkit-keyframes toFadeDown25 {
  to {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%); } }

@keyframes toFadeDown25 {
  to {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%); } }

/* 15% */
@-webkit-keyframes fromFadeLeft15 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%); } }
@keyframes fromFadeLeft15 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%); } }

@-webkit-keyframes toFadeLeft15 {
  to {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%); } }

@keyframes toFadeLeft15 {
  to {
    opacity: 0;
    -webkit-transform: translateX(-15%);
            transform: translateX(-15%); } }

@-webkit-keyframes fromFadeRight15 {
  from {
    opacity: 0;
    -webkit-transform: translateX(15%);
            transform: translateX(15%); } }

@keyframes fromFadeRight15 {
  from {
    opacity: 0;
    -webkit-transform: translateX(15%);
            transform: translateX(15%); } }

@-webkit-keyframes toFadeRight15 {
  to {
    opacity: 0;
    -webkit-transform: translateX(15%);
            transform: translateX(15%); } }

@keyframes toFadeRight15 {
  to {
    opacity: 0;
    -webkit-transform: translateX(15%);
            transform: translateX(15%); } }

@-webkit-keyframes fromFadeDown15 {
  from {
    opacity: 0;
    -webkit-transform: translateY(15%);
            transform: translateY(15%); } }

@keyframes fromFadeDown15 {
  from {
    opacity: 0;
    -webkit-transform: translateY(15%);
            transform: translateY(15%); } }

@-webkit-keyframes toFadeDown15 {
  to {
    opacity: 0;
    -webkit-transform: translateY(15%);
            transform: translateY(15%); } }

@keyframes toFadeDown15 {
  to {
    opacity: 0;
    -webkit-transform: translateY(15%);
            transform: translateY(15%); } }

/* 10% */
@-webkit-keyframes toFadeDown10 {
  to {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%); } }
@keyframes toFadeDown10 {
  to {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%); } }

@-webkit-keyframes fromFadeDown10 {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%); } }

@keyframes fromFadeDown10 {
  from {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%); } }

/* 5% */
@-webkit-keyframes toFadeLeft5 {
  to {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); } }
@keyframes toFadeLeft5 {
  to {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); } }

@-webkit-keyframes fromFadeLeft5 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); } }

@keyframes fromFadeLeft5 {
  from {
    opacity: 0;
    -webkit-transform: translateX(-5%);
            transform: translateX(-5%); } }

/* Scale */
@-webkit-keyframes scaleOut {
  to {
    -webkit-transform: scale(0);
            transform: scale(0); } }
@keyframes scaleOut {
  to {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@-webkit-keyframes scaleIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); } }

@keyframes scaleIn {
  from {
    -webkit-transform: scale(0);
            transform: scale(0); } }

/* Rotate */
@-webkit-keyframes rotateXIn {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; } }
@keyframes rotateXIn {
  from {
    -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; } }

/* Scale */
@-webkit-keyframes bottomScaleIn {
  from {
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; } }
@keyframes bottomScaleIn {
  from {
    -webkit-transform: scale3d(0, 0, 0);
            transform: scale3d(0, 0, 0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; } }

/* custom */
@-webkit-keyframes toFadeRotate90 {
  to {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; } }
@keyframes toFadeRotate90 {
  to {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; } }

@-webkit-keyframes fromFadeRotate90 {
  from {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; } }

@keyframes fromFadeRotate90 {
  from {
    opacity: 0;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom; } }

@-webkit-keyframes keepRotating {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

@keyframes keepRotating {
  to {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg); } }

@-webkit-keyframes liftOutRight {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(-6%) rotateZ(0deg);
            transform: translateY(-6%) rotateZ(0deg); }
  70% {
    -webkit-transform: translate(-1%, -5%) rotateZ(10deg);
            transform: translate(-1%, -5%) rotateZ(10deg);
    opacity: 1; }
  100% {
    -webkit-transform: translate(100%, -5%) rotateZ(60deg);
            transform: translate(100%, -5%) rotateZ(60deg);
    opacity: 0; } }

@keyframes liftOutRight {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(-6%) rotateZ(0deg);
            transform: translateY(-6%) rotateZ(0deg); }
  70% {
    -webkit-transform: translate(-1%, -5%) rotateZ(10deg);
            transform: translate(-1%, -5%) rotateZ(10deg);
    opacity: 1; }
  100% {
    -webkit-transform: translate(100%, -5%) rotateZ(60deg);
            transform: translate(100%, -5%) rotateZ(60deg);
    opacity: 0; } }

@-webkit-keyframes flipOutLeftX {
  49.99% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 0; } }

@keyframes flipOutLeftX {
  49.99% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 0; } }

@-webkit-keyframes flipInLeftX {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 0; }
  49.99% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes flipInLeftX {
  0% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    opacity: 0; }
  49.99% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@-webkit-keyframes flipOutRightX {
  49.99% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    opacity: 0; } }

@keyframes flipOutRightX {
  49.99% {
    opacity: 1; }
  50% {
    opacity: 0; }
  100% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    opacity: 0; } }

@-webkit-keyframes flipInRightX {
  0% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    opacity: 0; }
  49.99% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes flipInRightX {
  0% {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
    opacity: 0; }
  49.99% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

body {
  font-family: Verdana, sans-serif;
  overflow: hidden;
  color: #666; }

ul#navigation {
  position: fixed;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  list-style: none; }

ul#navigation li {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  background-color: #666;
  margin: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: 100ms background-color ease-in-out; }

ul#navigation li[data-link] {
  display: block; }

ul#navigation li.active {
  background-color: #af4444; }

ul#navigation li:after {
  content: attr(data-title);
  position: absolute;
  top: 0;
  right: 100%;
  color: #666;
  height: 100%;
  width: 300px;
  text-align: right;
  line-height: 30px;
  margin-right: 10px;
  opacity: 0;
  pointer-events: none;
  transition: 200ms all ease-in-out; }

ul#navigation li:hover:after {
  opacity: 1; }

.scene {
  position: absolute;
  top: 20px;
  left: 40px;
  background-color: #666;
  width: 20px;
  height: 20px;
  cursor: pointer;
  box-sizing: border-box; }

.scene01 {
  margin-left: -20px;
  border-bottom: 1px solid #fff; }

.scene11 {
  margin-left: 20px;
  border-bottom: 1px solid #fff; }

.scene2 {
  margin-top: 20px; }

.scene02 {
  margin-left: -20px;
  margin-top: 20px;
  border-top: 1px solid #fff; }

.scene.scene12 {
  margin-left: 20px;
  margin-top: 20px;
  border-top: 1px solid #fff; }

.scene3 {
  margin-top: 40px; }

.scene4 {
  margin-top: 60px; }

body.scene1-in .scene.scene1,
body.scene01-in .scene.scene01,
body.scene11-in .scene.scene11,
body.scene2-in .scene.scene2,
body.scene02-in .scene.scene02,
body.scene12-in .scene.scene12,
body.scene3-in .scene.scene3,
body.scene4-in .scene.scene4 {
  background-color: #af4444; }

.animation {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none; }
  .animation .block {
    position: absolute;
    top: calc(50% - 100px);
    right: calc(25% - 100px);
    width: 200px;
    height: 200px;
    background-color: #af4444; }

body .animation {
  -webkit-animation: fadeOut 250ms linear;
          animation: fadeOut 250ms linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

body.down .animation {
  -webkit-animation-name: toUp;
          animation-name: toUp; }

body.up .animation {
  -webkit-animation-name: toDown;
          animation-name: toDown; }

body.left .animation {
  -webkit-animation-name: toRight;
          animation-name: toRight; }

body.right .animation {
  -webkit-animation-name: toLeft;
          animation-name: toLeft; }

body.scene2 .animation,
body.scene02 .animation,
body.scene4 .animation {
  display: inline-block; }

body.scene2-in .animation,
body.scene02-in .animation,
body.scene4-in .animation {
  -webkit-animation: fadeIn 250ms linear;
          animation: fadeIn 250ms linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

body.scene2-in.down .animation,
body.scene02-in.down .animation,
body.scene4-in.down .animation {
  -webkit-animation-name: fromDown;
          animation-name: fromDown; }

body.scene2-in.up .animation,
body.scene02-in.up .animation,
body.scene4-in.up .animation {
  -webkit-animation-name: fromUp;
          animation-name: fromUp; }

body.scene2-in.left .animation,
body.scene02-in.left .animation,
body.scene4-in.left .animation {
  -webkit-animation-name: fromLeft;
          animation-name: fromLeft; }

body.scene2-in.right .animation,
body.scene02-in.right .animation,
body.scene4-in.right .animation {
  -webkit-animation-name: fromRight;
          animation-name: fromRight; }

body.scene02-in.left .animation,
body.scene2-in.right .animation {
  -webkit-animation-name: none;
          animation-name: none; }

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 100px;
  -webkit-animation: fadeOut 250ms linear;
          animation: fadeOut 250ms linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: none; }

body.scene1 .scene1-title,
body.scene01 .scene01-title,
body.scene11 .scene11-title,
body.scene2 .scene2-title,
body.scene02 .scene02-title,
body.scene12 .scene12-title,
body.scene3 .scene3-title,
body.scene4 .scene4-title {
  display: inline-block; }

body.scene1-in .scene1-title,
body.scene01-in .scene01-title,
body.scene11-in .scene11-title,
body.scene2-in .scene2-title,
body.scene02-in .scene02-title,
body.scene12-in .scene12-title,
body.scene3-in .scene3-title,
body.scene4-in .scene4-title {
  -webkit-animation: fadeIn 250ms linear 250ms;
          animation: fadeIn 250ms linear 250ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
