.illustration.teams {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: none; }
  .illustration.teams .card-1 {
    position: absolute;
    top: calc(50% - 100px);
    right: calc(25% - 100px);
    width: 200px;
    height: 200px;
    background-color: #af7777; }

body .illustration.teams {
  animation: fadeOut 250ms linear;
  animation-fill-mode: both; }

body.down .illustration.teams {
  animation-name: toUp; }

body.up .illustration.teams {
  animation-name: toDown; }

body.left .illustration.teams {
  animation-name: toRight; }

body.right .illustration.teams {
  animation-name: toLeft; }

body.scene2 .illustration.teams,
body.scene02 .illustration.teams,
body.scene4 .illustration.teams {
  display: inline-block; }

body.scene2-in .illustration.teams,
body.scene02-in .illustration.teams,
body.scene4-in .illustration.teams {
  animation: fadeIn 250ms linear;
  animation-fill-mode: both; }

body.scene2-in.down .illustration.teams,
body.scene02-in.down .illustration.teams,
body.scene4-in.down .illustration.teams {
  animation-name: fromDown; }

body.scene2-in.up .illustration.teams,
body.scene02-in.up .illustration.teams,
body.scene4-in.up .illustration.teams {
  animation-name: fromUp; }

body.scene2-in.left .illustration.teams,
body.scene02-in.left .illustration.teams,
body.scene4-in.left .illustration.teams {
  animation-name: fromLeft; }

body.scene2-in.right .illustration.teams,
body.scene02-in.right .illustration.teams,
body.scene4-in.right .illustration.teams {
  animation-name: fromRight; }

body.scene02-in.left .illustration.teams,
body.scene2-in.right .illustration.teams {
  animation-name: none; }

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  animation: fadeOut 250ms linear;
  animation-fill-mode: both;
  display: none; }

body.scene1 .scene1-title,
body.scene01 .scene01-title,
body.scene11 .scene11-title,
body.scene2 .scene2-title,
body.scene02 .scene02-title,
body.scene12 .scene12-title,
body.scene3 .scene3-title,
body.scene4 .scene4-title {
  display: inline-block; }

body.scene1-in .scene1-title,
body.scene01-in .scene01-title,
body.scene11-in .scene11-title,
body.scene2-in .scene2-title,
body.scene02-in .scene02-title,
body.scene12-in .scene12-title,
body.scene3-in .scene3-title,
body.scene4-in .scene4-title {
  animation: fadeIn 250ms linear 250ms;
  animation-fill-mode: both; }
