.illustration.teams {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	display: none;
	
	.card-1 {
		position: absolute;
		top: 25%;
		right: 0;
		width: 30%;
		height: 100%;
		background-image: url('../img/teams/card-1.svg');
		background-repeat: no-repeat;
	}
}

body {
	.illustration.teams {
		animation: fadeOut 250ms linear;
		animation-fill-mode: both;
	}
	&.down .illustration.teams { animation-name: toUp; }
	&.up .illustration.teams { animation-name: toDown; }
	&.left .illustration.teams { animation-name: toRight; }
	&.right .illustration.teams { animation-name: toLeft; }
}
body.scene2 .illustration.teams,
body.scene02 .illustration.teams,
body.scene4 .illustration.teams {
	display: inline-block;
}
body[data-active="scene2"],
body[data-active="scene02"],
body[data-active="scene4"] {
	.illustration.teams {
		animation: fadeIn 250ms linear;
		animation-fill-mode: both;
	}
	&.down .illustration.teams { animation-name: fromDown; }
	&.up .illustration.teams { animation-name: fromUp; }
	&.left .illustration.teams { animation-name: fromLeft; }
	&.right .illustration.teams { animation-name: fromRight; }
}
body[data-active="scene02"][data-direction="left"],
body[data-active="scene2"][data-direction="right"] {
	.illustration.teams {
		animation-name: none;
	}
}

.text {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	animation: fadeOut 250ms linear;
	animation-fill-mode: both;
	display: none;
}

body.scene1 .scene1-title,
body.scene01 .scene01-title,
body.scene11 .scene11-title,
body.scene2 .scene2-title,
body.scene02 .scene02-title,
body.scene12 .scene12-title,
body.scene3 .scene3-title,
body.scene4 .scene4-title {
	display: inline-block;
}
body[data-active="scene1"] .scene1-title,
body[data-active="scene01"] .scene01-title,
body[data-active="scene11"] .scene11-title,
body[data-active="scene2"] .scene2-title,
body[data-active="scene02"] .scene02-title,
body[data-active="scene12"] .scene12-title,
body[data-active="scene3"] .scene3-title,
body[data-active="scene4"] .scene4-title {
	animation: fadeIn 250ms linear 250ms;
	animation-fill-mode: both;
}